<div class="grid grid-cols-4 w-full bg-gray">
  <div
    class="h-32 mb-5 leading-none tracking-normal col-span-4"
    id="carousel-title"
  >
    <p class="text-bigtitle md:text-intro font-extrabold w-10/12 m-auto">
      Nos astuces
    </p>
  </div>
  <div class="pl-20 md:flex hidden items-center h-96">
    <img
      onclick="prevImage()"
      src="./img/bouton%20gauche.png"
      alt="bouton precedent"
    />
  </div>
  <div class="md:col-span-2 col-span-4 w-full" id="astuce-carousel">
    <img
      src="./img/astuces1.JPG"
      alt=""
      class="carousel-image block w-full"
      id="astuce1"
    />
    <img
      src="./img/astuces2.JPG"
      alt=""
      class="carousel-image w-full"
      id="astuce2"
    />
  </div>
  <div class="pr-20 md:flex hidden justify-end items-center h-96">
    <img
      onclick="nextImage()"
      src="./img/bouton%20droite.png"
      alt="bouton suivant"
    />
  </div>
</div>
<div
  id="astuce-carousel-buttons"
  class="w-3/12 grid grid-cols-2 gap-x-1 bottom-[-2rem] md:bottom-0 place-items-center m-auto"
>
  <button class="bg-yellow w-[85%] h-2 rounded"></button>
  <button class="bg-yellow w-[85%] h-2 rounded opacity-30"></button>
</div>
