<footer
  class="grid md:grid-cols-3 grid-cols-1 px-10 bg-black text-white font-primary md:gap-10 gap-10 mx-auto w-auto place-items-center"
>
  <div
    class="md:col-start-1 grid place-items-center md:place-items-center border-solid border-white border-b pb-2 md:border-none"
  >
    <p
      class="md:text-5xl text-4xl font-extrabold leading-none tracking-normal text-left pb-5 border-b border-white h-16 mb-5"
    >
      Le MOI sans IA
    </p>
    <img src="./img/logo.png" alt="logo creacid" class="mb-5" />
    <p
      class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"
    >
      <a href="#presentation">Présentation</a>
    </p>
    <p
      class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"
    >
      <a href="#actu">Actualités</a>
    </p>
    <p
      class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"
    >
      <a href="#campagne">Notre campagne</a>
    </p>
    <p
      class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"
    >
      <a href="#contact">Contact</a>
    </p>
  </div>
  <div
    class="grid place-items-center md:place-items-center border-solid border-white border-t pb-2 md:border-none md:row-start-1 row-start-3 pt-20 col-start-2"
  >
    <p
      class="hidden md:grid mb-5 text-6xl font-extrabold leading-none tracking-normal text-left pb-5 border-b border-white h-16"
    ></p>
    <p
      class="hidden md:grid h-32 mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"
    ></p>
    <p
      class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"
    >
      <a href="">lemoisansia@gmail.com</a>
    </p>
    <p
      class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"
    >
      <a href="">133 Boulevard Pereire, 75017 Paris</a>
    </p>
    <p
      class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"
    >
      <a href="">06 51 47 86 09</a>
    </p>
    <p
      class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left h-10"
    ></p>
    <div class="inline-flex h-10">
      <a href="#"
        ><img src="./img/Vector.png" alt="icon instagram" class="w-10 h-10"
      /></a>
      <a href="#"
        ><img
          src="./img/ic_baseline-facebook.png"
          alt="icon facebook"
          class="ml-8 w-10 h-10"
      /></a>
      <a href="#"
        ><img
          src="./img/pajamas_linkedin.png"
          alt="icon linkedin"
          class="ml-8 w-10 h-10"
      /></a>
      <a href="#"
        ><img
          src="./img/simple-icons_x.png"
          alt="icon X"
          class="ml-8 w-10 h-10"
      /></a>
      <a href="#"
        ><img src="./img/Vector-1.png" alt="icon tiktok" class="ml-8 w-10 h-10"
      /></a>
    </div>
  </div>
  <div class="grid place-items-center md:place-items-center col-start-3">
    <p
      class="hidden md:grid mb-5 text-6xl font-extrabold leading-none tracking-normal text-left pb-5 border-b border-white h-16"
    ></p>
    <p
      class="hidden md:grid h-32 mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"
    ></p>
    <p
      class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"
    >
      <a href="#">Conditions générales d’utilisation</a>
    </p>
    <p
      class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"
    >
      <a href="#">Gérer les Cookies</a>
    </p>
    <p
      class="mb-5 font-primary text-base font-extrabold leading-tight tracking-normal text-left"
    >
      <a href="#">Accessibilité</a>
    </p>
  </div>
</footer>
