<div class="grid md:grid-cols-3 md:gap-10 w-10/12 m-auto pt-5">
  <div
    class="h-[12rem] grid md:place-items-start place-items-center md:mb-0 mb-5"
  >
    <h3 class="text-white md:text-bigtitle text-title font-introbold">
      LE MOI SANS IA
    </h3>
    <hr class="w-full mx-auto my-6 border-white border-solid border-2" />
    <img src="./img/logo.png" alt="logo de la campagne" />
  </div>

  <div class="md:h-[12rem] w-full grid md:my-0 my-5">
    <hr class="w-full m-auto border-white border-solid border-2" />
  </div>

  <div class="md:h-[12rem] w-full grid md:my-0 my-5">
    <hr class="w-full m-auto border-white border-solid border-2" />
  </div>

  <div class="grid md:place-items-start place-items-center row-start-2">
    <a class="text-white font-extrabold mb-5" href="#intro">Présentation</a>
    <a class="text-white font-extrabold mb-5" href="#actu">Actualité</a>
    <a class="text-white font-extrabold mb-5" href="#video-top"
      >Notre campagne</a
    >
    <a class="text-white font-extrabold mb-5" href="#contact">Contact</a>
  </div>
  <div
    class="md:place-items-start place-items-center md:row-start-2 row-start-4"
  >
    <p class="text-white font-extrabold mb-5 text-center md:text-start">
      lemoisansia@gmail.com
    </p>
    <p class="text-white font-extrabold mb-5 text-center md:text-start">
      133 Boulevard Pereire, 75017 Paris
    </p>
    <p class="text-white font-extrabold mb-5 text-center md:text-start">
      06 51 47 86 09
    </p>
  </div>
  <div class="md:place-items-start place-items-center">
    <a class="text-white font-extrabold" href="./cgu.php"
      ><p class="mb-5 text-center md:text-start">
        Conditions générales d’utilisation
      </p></a
    >
    <p class="text-white font-extrabold mb-5 text-center md:text-start">
      Gérer les Cookies
    </p>
    <p class="text-white font-extrabold mb-5 text-center md:text-start">
      Accessibilité
    </p>
  </div>
</div>
<div
  class="grid grid-cols-5 gap-x-2 md:w-3/12 w-6/12 m-auto pt-5 pb-10 place-items-center"
>
  <img src="./img/instagram.png" alt="instagram" />
  <img src="./img/facebook.png" alt="facebook" />
  <img src="./img/linkedIn.png" alt="linkedIn" />
  <img src="./img/twitter.png" alt="twitter" />
  <img src="./img/tiktok.png" alt="tiktok" />
</div>
